body{
    margin: 0%;
    padding: 0%;
   
    
}
html{
    background-image: url('back.jpg');
    background-size: cover;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container{
    margin: 23px;
    padding: 10px;
    justify-content: center;
}

h1{
    padding: 10px 10px;
    color: honeydew;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
ul{
    
    display: flex;
   list-style: none;
   
}
li{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: -58px 30px;
    position: relative;
    left: 56%;
    font-size: 20px;
}
.option{
    text-decoration: none;
    color: honeydew;
    padding: 33px 15px;
    margin: -15px;
}
.option:hover{
    transition: 1s;
    background: white;
    color: rgb(75, 221, 202);
}
.navbar{
    background: linear-gradient(rgb(59, 252, 162),rgb(75, 221, 202));
    height: 90px;
    border-radius: 0px 0px 20px 20px;
    margin: -21px 0px;
    overflow: hidden;
}
input{
    width: 30%;
    border-radius: 10px;
    margin: 30px 0px;
    padding: 9px;
    align-content: center;
    border: none;
    display: flex;
    box-shadow:4px 4px rgb(59, 252, 162);
}
button{
    display: block;
    width: 90px;
    height: 30px;
    background: linear-gradient(rgb(59, 252, 162),rgb(75, 221, 202));
    border-radius: 14px;
    margin: 25px;
    padding: 5px;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    
}

button:hover{
    transition: 0.7s;
    color: rgb(59, 252, 162);
    background: rgb(182, 248, 250);

}
.response{
    color : white;
    font-size: 24px;
    text-align: center;
  
}
.err{
    color : white;
    font-size: 22px;
    position: absolute;
    top: 42.8%;
    left: 66%;
}
.acc{
    position: relative;
    left: -9%;
    padding: 12px;
    text-decoration: none;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
    color:aliceblue;
}
.acc:hover{
    transition: 1s;
    color:rgb(3, 51, 28);
    font-size: 17.5px;
  
  }